node_modules
mariadb
apps/bin/doctrine
apps/bin/doctrine-dbal
apps/bin/doctrine-migrations
apps/bin/php-parse
apps/bin/simple-phpunit
apps/bin/sql-formatter
apps/bin/var-dump-server
apps/bin/yaml-lint
apps/bin/phpcbf
apps/bin/behat
apps/bin/phpcs
apps/bin/phpmd
apps/bin/phpunit
apps/bin/pdepend
apps/bin/twigcs
apps/bin/phpstan
apps/bin/phpstan.phar
apps/bin/phpmnd
/apps/.env
apps/twigcs.phar
apps/phpcpd.phar